body {
    background-image: url(../media/kocka.png), url(../media/koza.png);
    background-repeat: no-repeat;
    background-position: 0 0, left 200px;
    padding: 0 0 0 250px;
}

p {
    text-align: justify;
}

#g1 {
    background-color: gray;
    background-image: linear-gradient(to right, darkgray, gray 5%, gray 95%, darkgray);
    box-shadow: 10px 15px 40px -10px black;
    color: white;
    border-radius: 25px 0;
    padding: 3% 5%;
    text-align: justify;
    width: 70%;
}

#g2 {
    background-color: lightsalmon;
    background-image: url(../media/praha400.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 400px;
    height: 186px;
}

@media (min-resolution: 2dppx) {
    #g2 {
        background-image: url(../media/praha.jpg);
    }
}