body {
    margin: 0 auto;
    max-width: 660px;
    width: 96%;
}

h1 {
    color: darkred;
}

p {
    text-align: justify;
}

.r1 {
    width: 100%;
    padding-bottom: 46.6%;
}

.responsive {
    height: 0;
    position: relative;
    background-color: bisque;
}

.responsive img {
    /*max-width: 100%;*/
    position: absolute;
    width: 100%;
    height: auto;
}

@media (min-width: 400px) {
    h1 {
        color: darkgreen;
    }
}

@media (min-width: 560px) {
    .column {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 1%;
    }
}