body {
    margin: 0 auto;
    max-width: 860px;
    width: 96%;
}

h1 {
    color: darkred;
}

p {
    text-align: justify;
}

.r1 {
    width: 100%;
    padding-bottom: 46.6%;
}

.r2 {
    padding-bottom: 56.2%;
    width: 100%;
}

.r3 {
    padding-bottom: 97.8%;
    width: 100%;
}

.responsive {
    position: relative;
    /*background-color: bisque;*/
}

.responsive img,
.responsive svg,
.responsive object {
    /*max-width: 100%;*/
    position: absolute;
    width: 100%;
    height: auto;
}

#owl path {
    stroke: brown;
}

@media (min-width: 400px) {
    h1 {
        color: darkgreen;
    }
}

@media (min-width: 560px) {
    .column {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 1%;
    }
}