body {
    margin: 0 auto;
    max-width: 660px;
    width: 96%;
}

h1 {
    color: darkred;
}

p {
    text-align: justify;
}

@media (min-width: 400px) {
    h1 {
        color: darkgreen;
    }
}

@media (min-width: 560px) {
    .column {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 1%;
    }
}