#obr {
    /*transform: translate(100px, 0);*/
    /*transform: rotate(15deg) translate(300px, 0) scale(1.5);*/
    /*transform-origin: 0 0;*/
    transform: translateX(300px) perspective(600px) rotateY(45deg) scale(1);
    backface-visibility: hidden;
}

#card {
    background-color: gray;
    height: 208px;
    width: 300px;
    position: relative;
}

#card img {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s;
}

#back {
    transform: perspective(600px) rotateY(-179.9deg);
}

#front {
    transform: perspective(600px) rotateY(0deg);
}

#card:hover #back {
    transform: perspective(600px) rotateY(0deg);
}

#card:hover #front {
    transform: perspective(600px) rotateY(179.9deg);
}